# langchain[groq]
pandas
langchain-openai
langchain-huggingface
pinecone
langchain-pinecone
pinecone-client
langchain-text-splitters 
langchain-community 
langgraph
langchain-huggingface
sentence-transformers
ipykernel
pymupdf
pypdf
python-docx
gradio
faiss-cpu
python-dotenv
"weaviate-client>=3.26.7,<4.0.0"

